Repository KSP-CKAN/CKAN, pull requests merged in 2018-04, with the labels that each got.

#2399 Clean-up and debuggability
  Core/Net/Repo.cs
  Core/Platform.cs
  Core/Registry/RegistryManager.cs
  GUI/Main.cs
  GUI/MainModList.cs
  debian/control.in
Labels: Bug, Easy, Network, OS X, Pull request, ckan.dll

#2402 Don't double encode GitHub download URLs
  Netkan/Transformers/GithubTransformer.cs
Labels: Bug, Netkan, Network, Pull request

#2406 Option to override SpaceDock version with AVC version
  Netkan/Transformers/AvcTransformer.cs
Labels: Netkan, Pull request

#2407 Move AutoUpdate.CanUpdate check to resolve VisualStudio Designer Error
  GUI/SettingsDialog.Designer.cs
  GUI/SettingsDialog.cs
Labels: Pull request

#2408 Better AutoUpdate.CanUpdate Error Message
  GUI/SettingsDialog.cs
Labels: AutoUpdate, Debian-package, Easy, GUI, Pull request

#2411 AutoUpdate: tokens and tests
  Cmdline/Action/Upgrade.cs
  Core/Net/AutoUpdate.cs
  Core/Net/Net.cs
  GUI/Main.cs
  GUI/SettingsDialog.cs
  Tests/Core/Net/AutoUpdate.cs
  Tests/Core/Net/AutoUpdateTests.cs
  Tests/Tests.csproj
Labels: AutoUpdate, Pull request, Tests

#2423 Fix "Collection was modified" exception for redundant optional dependencies
  GUI/MainInstall.cs
Labels: Bug, GUI, Pull request

#2424 Treat installed DLC as compatible dependency
  Core/Registry/Registry.cs
  GUI/MainModInfo.cs
  Tests/Core/Registry/Registry.cs
Labels: Bug, GUI, Pull request, Registry, Tests

#2425 Uncheck checkbox after missing dependency error
  GUI/GUIMod.cs
  GUI/Main.cs
  GUI/MainModList.cs
Labels: GUI, Pull request

#2420 Replace max KSP version empty string with "any" in GUI
  GUI/GUIMod.cs
Labels: GUI, Pull request

#2426 Ignore splitter exceptions
  GUI/Main.cs
  GUI/MainModInfo.Designer.cs
  GUI/MainModInfo.cs
Labels: Bug, GUI, Pull request

#2430 Ignore conflicts between versions of same mod
  Core/Relationships/SanityChecker.cs
  Tests/Core/Relationships/SanityChecker.cs
Labels: Bug, Pull request, Relationships

#2431 Test upgrading mod with conflict on its own provides
  Tests/Core/Relationships/SanityChecker.cs
Labels: Pull request, Relationships, Tests
