Repository KSP-CKAN/CKAN, pull requests merged in 2018-12, with the labels that each got.

#2605 Fix spelling error of netkan-bot in close-old-support-tickets.pl
  bin/close-old-support-tickets.pl
Labels: Easy, Infrastructure, Pull request

#2600 Fix platform checks and crash on Mac OS X
  Core/Platform.cs
  GUI/Main.cs
  GUI/X11.cs
Labels: Bug, OS X, Pull request

#2593 Fix file menu separator
  GUI/Main.Designer.cs
Labels: Bug, Easy, GUI, Pull request

#2592 Add legend for relationships tab
  GUI/MainModInfo.Designer.cs
Labels: Enhancement, GUI, Pull request

#2594 Fix error popup text for dark themes
  GUI/ErrorDialog.Designer.cs
Labels: Bug, Easy, GUI, Pull request

#2597 Add Launch KSP option to tray icon menu
  GUI/Main.Designer.cs
Labels: Easy, Enhancement, GUI, Pull request

#2598 Stop splitters from migrating between sessions
  GUI/Main.cs
Labels: Bug, GUI, Pull request

#2599 Confirm quit with pending change set or conflicts
  GUI/Main.cs
  GUI/MainInstall.cs
Labels: Enhancement, GUI, Pull request

#2601 Warn before launching KSP with installed incompatible modules
  Core/Registry/IRegistryQuerier.cs
  Core/Registry/Registry.cs
  GUI/Main.cs
Labels: Enhancement, GUI, Pull request

#2607 Suppress wrapping of status bar in Mono
  GUI/Main.Designer.cs
Labels: Bug, GUI, Mono, Pull request

#2609 Revert unintentional tray icon change from #2587
  GUI/MainTrayIcon.cs
Labels: Bug, Easy, GUI, Pull request

#2613 Jenkins as a Netkan "source"
  Netkan/CKAN-netkan.csproj
  Netkan/Sources/Jenkins/IJenkinsApi.cs
  Netkan/Sources/Jenkins/JenkinsApi.cs
  Netkan/Sources/Jenkins/JenkinsArtifact.cs
  Netkan/Sources/Jenkins/JenkinsBuild.cs
  Netkan/Sources/Jenkins/JenkinsOptions.cs
  Netkan/Sources/Jenkins/JenkinsRef.cs
  Netkan/Transformers/JenkinsTransformer.cs
  Netkan/Transformers/NetkanTransformer.cs
  Tests/NetKAN/Sources/Jenkins/JenkinsApiTests.cs
  Tests/Tests.csproj
Labels: Netkan, Network, Pull request, Tests

#2614 Encapsulate usages of WebClient
  Cmdline/Action/Repo.cs
  Core/Net/Net.cs
  Core/Types/Repository.cs
  GUI/MainRepo.cs
  Netkan/Services/CachingHttpService.cs
  Netkan/Services/IHttpService.cs
  Netkan/Sources/Github/GithubApi.cs
  Netkan/Transformers/NetkanTransformer.cs
  Tests/NetKAN/Sources/Github/GithubApiTests.cs
Labels: Netkan, Network, Pull request, ckan.dll

#2616 Handle multiple game versions from Curse
  Netkan/Sources/Curse/CurseFile.cs
  Netkan/Transformers/CurseTransformer.cs
Labels: Netkan, Pull request

#2617 Show progress bar while loading registry
  Cmdline/Action/Update.cs
  Core/Net/Repo.cs
  GUI/MainModList.cs
  GUI/MainRepo.cs
Labels: Enhancement, GUI, Pull request

#2619 Fix System.ObjectDisposedException for TransparentTextBox
  GUI/Main.cs
  GUI/MainModList.cs
Labels: Bug, GUI, Linux, Mono, Pull request

#2628 Dispose caches in tests
  Tests/Core/Cache.cs
  Tests/NetKAN/Sources/Curse/CurseApiTests.cs
  Tests/NetKAN/Sources/Github/GithubApiTests.cs
  Tests/NetKAN/Sources/Jenkins/JenkinsApiTests.cs
  Tests/NetKAN/Sources/Spacedock/SpacedockApiTests.cs
Labels: Bug, Mono, Pull request, Tests
