Repository KSP-CKAN/CKAN, pull requests merged in 2018-03, with the labels that each got.

#2332 Fix ArgumentOutOfRangeException when removing files from game root
  Core/KSPPathUtils.cs
Labels: Pull request, ckan.dll

#2339 Obey version properties of conflicts and depends relationships in sanity checks
  Cmdline/Action/Upgrade.cs
  Core/Registry/Registry.cs
  Core/Relationships/SanityChecker.cs
  Core/Types/CkanModule.cs
  Core/Types/Kraken.cs
  Tests/Core/Relationships/SanityChecker.cs
Labels: Bug, Pull request, Relationships

#2329 Improve CKAN.app launch script
  macosx/CKAN
  macosx/Makefile
Labels: OS X, Pull request

#2341 Fix building on macOS
  build
Labels: Build, OS X, Pull request

#2344 Fix autoupdater tests on TLS-fragile platforms
  Core/Net/AutoUpdate.cs
  Tests/Core/Net/AutoUpdate.cs
Labels: AutoUpdate, Pull request, Tests

#2337 Invalidate stale cached files from GitHub in Netkan
  Core/Net/NetFileCache.cs
  Netkan/Model/Metadata.cs
  Netkan/Services/CachingHttpService.cs
  Netkan/Services/IHttpService.cs
  Netkan/Sources/Github/GithubApi.cs
  Netkan/Sources/Github/GithubRelease.cs
  Netkan/Transformers/AvcTransformer.cs
  Netkan/Transformers/DownloadAttributeTransformer.cs
  Netkan/Transformers/GithubTransformer.cs
  Netkan/Transformers/InternalCkanTransformer.cs
  Netkan/Validators/InstallsFilesValidator.cs
  Tests/NetKAN/Transformers/DownloadAttributeTransformerTests.cs
  Tests/NetKAN/Transformers/GithubTransformerTests.cs
  Tests/NetKAN/Transformers/InternalCkanTransformerTests.cs
Labels: Bug, Netkan, Network, Pull request

#2348 Add 1.4.0 to embedded build map
  Core/builds.json
Labels: Infrastructure, Pull request

#2360 Add 1.4.1.2089 to known builds
  Core/builds.json
Labels: Pull request

#2351 Always switch to progress tab when starting a [re/un]install
  GUI/Main.cs
  GUI/MainChangeset.cs
  GUI/MainInstall.cs
Labels: GUI, Pull request

#2363 Remove extra copies of various files
  AutoUpdate/LICENSE.md
  AutoUpdate/README.md
  Cmdline/CONTRIBUTING.md
  Cmdline/LICENSE.md
  Cmdline/README.md
  GUI/CONTRIBUTING.md
  GUI/LICENSE.md
  GUI/README.md
  Netkan/CONTRIBUTING.md
  Netkan/LICENSE.md
  Netkan/README.md
Labels: Documentation, Pull request

#2369 Support CC-BY-ND licenses in code
  Core/Types/License.cs
Labels: Pull request

#2354 Fix very slow response to checkbox changes
  Cmdline/Action/Import.cs
  ConsoleUI/DependencyScreen.cs
  ConsoleUI/DownloadImportDialog.cs
  ConsoleUI/InstallScreen.cs
  ConsoleUI/ModListScreen.cs
  Core/ModuleInstaller.cs
  Core/Registry/Registry.cs
  GUI/CKAN-GUI.csproj
  GUI/GUIMod.cs
  GUI/GUIUser.cs
  GUI/Main.cs
  GUI/MainChangeset.cs
  GUI/MainImport.cs
  GUI/MainInstall.cs
  GUI/MainModList.cs
Labels: Bug, GUI, Pull request, Registry, Relationships

#2364 Install old versions of mods on double click from version list
  GUI/Main.cs
  GUI/MainAllModVersions.Designer.cs
  GUI/MainAllModVersions.cs
  GUI/MainInstall.cs
Labels: Enhancement, GUI

#2365 Allow downloader to be used multiple times
  Core/Net/NetAsyncDownloader.cs
Labels: Bug, Network, Pull request

#2366 Clean up url handler registration
  GUI/URLHandlers.cs
Labels: Bug, Windows

#2374 Deal with threading and download errors
  Core/Net/NetAsyncModulesDownloader.cs
  Core/Net/NetModuleCache.cs
  GUI/MainWait.cs
Labels: Bug, GUI, Pull request

#2382 More verbose and accurate version displays
  GUI/GUIMod.cs
  GUI/MainAllModVersions.Designer.cs
  GUI/MainAllModVersions.cs
  GUI/MainInstall.cs
Labels: Bug, Enhancement, GUI

#2386 Encode spaces in URL output
  Core/Net/NetAsyncDownloader.cs
Labels: Cmdline, Easy, Network
