Repository KSP-CKAN/CKAN, pull requests merged in 2018-05, with the labels that each got.

#2429 Don't Force Apply button active when no update selected
  GUI/Main.cs
  GUI/MainModList.cs
Labels: GUI, Pull request

#2444 Improve handling of missing game version
  Core/KSP.cs
  Tests/Core/KSP.cs
Labels: Bug, Pull request, Tests, ckan.dll

#2435 Handle zero byte registry.json file
  Core/Registry/RegistryManager.cs
  Tests/Core/Registry/RegistryManager.cs
  Tests/Data/zero-byte-registry.json
Labels: Bug, Pull request, Registry, Tests, ckan.dll

#2449 Pass game instance from cmdline to GUI/ConsoleUI
  Cmdline/Main.cs
  Cmdline/Options.cs
  ConsoleUI/ConsoleCKAN.cs
  ConsoleUI/Program.cs
  ConsoleUI/SplashScreen.cs
  GUI/Main.cs
  GUI/Program.cs
Labels: Bug, Cmdline, GUI, Pull request
