Repository KSP-CKAN/CKAN, pull requests merged in 2019-12, with the labels that each got.

#2939 Better parsing errors for version files
  Netkan/Services/ModuleService.cs
Labels: Easy, Enhancement, Netkan, Pull request

#2946 Coerce GitHub URLs into the authenticated API in Netkan
  Core/Net/Net.cs
  Netkan/Services/CachingHttpService.cs
  Netkan/Services/IHttpService.cs
  Netkan/Sources/Github/GithubApi.cs
  Netkan/Sources/Github/IGithubApi.cs
  Netkan/Transformers/AvcKrefTransformer.cs
  Netkan/Transformers/AvcTransformer.cs
  Netkan/Transformers/MetaNetkanTransformer.cs
  Netkan/Transformers/NetkanTransformer.cs
  Tests/NetKAN/Transformers/AvcKrefTransformerTests.cs
  Tests/NetKAN/Transformers/AvcTransformerTests.cs
  Tests/NetKAN/Transformers/MetaNetkanTransformerTests.cs
Labels: Enhancement, Netkan, Network, Pull request

#2950 Request fewer GitHub releases and cache string URLs in Netkan
  Netkan/Services/CachingHttpService.cs
  Netkan/Sources/Github/GithubApi.cs
Labels: Bug, Netkan, Network, Pull request

#1848 Create ~/.local/share/applications/ if it doesn't exist (Linux)
  GUI/URLHandlers.cs
Labels: In progress, Linux, Pull request
