Repository KSP-CKAN/CKAN, pull requests merged in 2019-09, with the labels that each got.

#2858 Add libcurl dependency to RPM
  rpm/ckan.spec
Labels: Bug, Easy, Linux, Package: rpm, Pull request

#2866 Fix NRE on failed queue inflate
  Netkan/Processors/QueueHandler.cs
Labels: Bug, Easy, Netkan, Pull request

#2870 Add Missing libcurl Dependency for NetKAN
  Dockerfile.netkan
Labels: Infrastructure, Netkan, Network, Pull request

#2869 Allow totally incompatible modules in changeset
  GUI/GUIMod.cs
  GUI/MainModList.cs
Labels: Bug, GUI, Pull request

#2872 Remove base64 encoded CKAN icon from resources
  GUI/Properties/Resources.resx
Labels: GUI

#2875 Batch inflator responses
  Netkan/Processors/QueueHandler.cs
Labels: Architecture, Enhancement, Netkan, Network, Pull request
