Repository KSP-CKAN/CKAN, pull requests merged in 2019-07, with the labels that each got.

#2819 Netkan option to validate .ckan file
  Netkan/CmdLineOptions.cs
  Netkan/Processors/Inflator.cs
  Netkan/Processors/QueueHandler.cs
  Netkan/Program.cs
Labels: Easy, Enhancement, Netkan, Pull request

#2823 Override V to v with x_netkan_force_v
  Netkan/Transformers/ForcedVTransformer.cs
Labels: Bug, Easy, Netkan, Pull request

#2825 Fix Curse API download URLs
  Netkan/Sources/Curse/CurseFile.cs
Labels: Bug, Netkan, Pull request

#2827 Improve focus interactions of GUI filters and mod list
  GUI/Main.Designer.cs
  GUI/Main.cs
  GUI/MainModList.cs
Labels: Bug, Easy, Enhancement, GUI, Pull request

#2821 Queue module version changes in change set
  Core/ModuleInstaller.cs
  GUI/GUIMod.cs
  GUI/Main.cs
  GUI/MainAllModVersions.Designer.cs
  GUI/MainAllModVersions.cs
  GUI/MainChangeset.cs
  GUI/MainInstall.cs
  GUI/MainModInfo.cs
  GUI/MainModList.cs
  GUI/MainRecommendations.cs
  GUI/ModChange.cs
  GUI/Properties/Resources.de-DE.resx
  GUI/Properties/Resources.resx
  Tests/GUI/GH1866.cs
Labels: Enhancement, GUI, Pull request, ckan.dll

#2829 Fix clearing of changeset after install
  GUI/GUIMod.cs
  GUI/MainInstall.cs
  GUI/MainModList.cs
Labels: Bug, GUI, Pull request

#2834 Fix for building with VS 2019
  packages.config
Labels: Build, Cake, Easy, Windows

#2835 Send staging reason to SQS queue
  Netkan/Model/Metadata.cs
  Netkan/Processors/QueueHandler.cs
  Spec.md
Labels: Easy, Enhancement, Netkan, Pull request, Spec
