Repository KSP-CKAN/CKAN, pull requests merged in 2019-01, with the labels that each got.

#2632 Don't override menu renderers on Windows
  GUI/Main.cs
  GUI/SettingsDialog.cs
Labels: Bug, GUI, Pull request, Windows

#2634 Handle plus without shift in ConsoleUI
  ConsoleUI/Toolkit/Keys.cs
  ConsoleUI/Toolkit/ScreenObject.cs
Labels: ConsoleUI, Easy, Pull request

#2635 Allow overriding menu tip in ConsoleUI
  ConsoleUI/AuthTokenListScreen.cs
  ConsoleUI/DependencyScreen.cs
  ConsoleUI/KSPListScreen.cs
  ConsoleUI/KSPScreen.cs
  ConsoleUI/ModInfoScreen.cs
  ConsoleUI/ModListScreen.cs
  ConsoleUI/ProgressScreen.cs
  ConsoleUI/RepoScreen.cs
  ConsoleUI/Toolkit/ConsoleScreen.cs
Labels: ConsoleUI, Enhancement, Pull request

#2642 `ckan ksp fake/clone` fixes
  Cmdline/Action/KSP.cs
  Cmdline/ConsoleUser.cs
  Core/KSPManager.cs
  Core/Types/Kraken.cs
  Core/Versioning/KspVersion.cs
  Tests/Core/KSPManager.cs
Labels: Cmdline, Pull request

#2645 Handle semi-virtual dependencies in Relationships tab
  GUI/MainModInfo.cs
Labels: Bug, GUI, Pull request, Relationships

#2653 Show all recommendations of metapackages in GUI
  GUI/MainRecommendations.cs
Labels: Bug, GUI, Pull request, Relationships

#2654 Don't try to update filters if mod list missing
  GUI/MainModList.cs
Labels: Bug, GUI, Pull request

#2657 Set focus to mod list after loading
  GUI/MainModList.cs
Labels: Bug, GUI, Pull request

#2659 Remove ConfirmPrompt from IUser
  Cmdline/ConsoleUser.cs
  ConsoleUI/Toolkit/ConsoleScreen.cs
  Core/ModuleInstaller.cs
  Core/User.cs
  GUI/GUIUser.cs
  GUI/MainInstall.cs
  Netkan/ConsoleUser.cs
Labels: Cmdline, ConsoleUI, Easy, GUI, Netkan, Pull request, ckan.dll

#2666 Handle manually installed mods in ConsoleUI
  CHANGELOG.md
  ConsoleUI/ModInfoScreen.cs
  ConsoleUI/ModListHelpDialog.cs
  ConsoleUI/ModListScreen.cs
  ConsoleUI/Toolkit/Symbols.cs
  Core/Registry/IRegistryQuerier.cs
  Core/Registry/Registry.cs
  Core/Types/ModuleInstallDescriptor.cs
  Core/Versioning/KspVersionRange.cs
Labels: Bug, ConsoleUI, Pull request

#2663 Get license from GitHub
  Netkan/Sources/Github/GithubRepo.cs
  Netkan/Transformers/GithubTransformer.cs
  Spec.md
Labels: Easy, Enhancement, Netkan, Pull request

#2668 Add AD mods back into GUI's installed filter
  GUI/GUIMod.cs
Labels: Bug, Easy, GUI, Pull request
