Repository KSP-CKAN/CKAN, pull requests merged in 2019-02, with the labels that each got.

#2675 Make the download button more obvious
  README.md
Labels: Documentation

#2669 Cleanly switch versions of installed mod
  Core/ModuleInstaller.cs
  GUI/GUIMod.cs
  GUI/MainInstall.cs
  GUI/MainModList.cs
  GUI/ModChange.cs
Labels: Enhancement, GUI, Pull request, Relationships, ckan.dll

#2674 Allow installation of missing dependencies in GUI
  Core/Registry/Registry.cs
Labels: Bug, Easy, GUI, Pull request, Relationships, ckan.dll

#2677 Fix window position on MacOSX
  GUI/Configuration.cs
  GUI/Main.cs
  GUI/MainTrayIcon.cs
  GUI/Util.cs
Labels: GUI, OS X, Pull request

#2680 Fix upgrading and installing from .ckan in GUI
  Core/Relationships/RelationshipResolver.cs
  GUI/Main.cs
  GUI/MainChangeset.cs
  GUI/MainWait.cs
Labels: Bug, GUI, Pull request

#2686 Fix RefreshPreLabel overlapping RefreshTextBox in Settings
  GUI/SettingsDialog.Designer.cs
Labels: Easy, GUI, Pull request

#2671 Support replaced_by property
  CKAN.schema
  Cmdline/Action/Install.cs
  Cmdline/Action/List.cs
  Cmdline/Action/Replace.cs
  Cmdline/Action/Upgrade.cs
  Cmdline/CKAN-cmdline.csproj
  Cmdline/Main.cs
  Cmdline/Options.cs
  ConsoleUI/DependencyScreen.cs
  ConsoleUI/InstallScreen.cs
  ConsoleUI/ModInfoScreen.cs
  ConsoleUI/ModListHelpDialog.cs
  ConsoleUI/ModListScreen.cs
  ConsoleUI/Toolkit/Symbols.cs
  Core/ModuleInstaller.cs
  Core/Registry/IRegistryQuerier.cs
  Core/Relationships/RelationshipResolver.cs
  Core/Types/CkanModule.cs
  Core/Versioning/KspVersionCriteria.cs
  GUI/CKAN-GUI.csproj
  GUI/GUIMod.cs
  GUI/Main.Designer.cs
  GUI/Main.cs
  GUI/MainChangeset.cs
  GUI/MainInstall.cs
  GUI/MainModInfo.Designer.cs
  GUI/MainModInfo.cs
  GUI/MainModList.cs
  GUI/ModChange.cs
  GUI/Properties/Resources.Designer.cs
  GUI/Properties/Resources.resx
  GUI/Resources/arrow_forward.png
  GUI/Resources/arrow_upward.png
  Spec.md
  Tests/Core/ModuleInstaller.cs
  Tests/Core/Versioning/KspVersionBoundTests.cs
  Tests/Core/Versioning/KspVersionJsonConverterTests.cs
  Tests/Core/Versioning/KspVersionTests.cs
  Tests/Data/DogeTokenFlag-1.01.zip
  Tests/Data/TestData.cs
  Tests/NetKAN/NetkanOverride.cs
  Tests/NetKAN/Services/FileServiceTests.cs
  Tests/NetKAN/Services/ModuleServiceTests.cs
  Tests/NetKAN/Transformers/AvcTransformerTests.cs
  Tests/NetKAN/Transformers/HttpTransformerTests.cs
  Tests/NetKAN/Transformers/VersionEditTransformerTests.cs
  Tests/Tests.csproj
Labels: Cmdline, ConsoleUI, Enhancement, GUI, Pull request, Relationships, Schema, Spec, ckan.dll

#2682 Avoid redundant metadata downloads
  Cmdline/Action/Update.cs
  Core/Net/Net.cs
  Core/Net/Repo.cs
  Core/Types/Repository.cs
  GUI/MainRepo.cs
Labels: Cmdline, Enhancement, GUI, Network, Pull request, Registry, ckan.dll

#2685 Force redraw of versions ListView on Mono
  GUI/MainAllModVersions.cs
  GUI/MainModInfo.cs
Labels: Bug, GUI, Mono, Pull request

#2689 Don't auto-install recommendations when reinstalling
  GUI/Main.cs
Labels: Bug, Easy, GUI, Pull request, Relationships
