Repository KSP-CKAN/CKAN, pull requests merged in 2019-10, with the labels that each got.

#2879 Fail on http status codes >=300 for cURL downloads
  Core/Net/Net.cs
Labels: Core (ckan.dll), Netkan, Network

#2887 Normalize install paths
  Core/ModuleInstaller.cs
  Core/Net/Repo.cs
  Core/Types/ModuleInstallDescriptor.cs
  Netkan/Validators/InstallValidator.cs
Labels: Bug, Core (ckan.dll), Netkan, Pull request, Registry

#2857 Fixes for KSP in Windows drive root
  Core/KSP.cs
  Core/KSPPathUtils.cs
  Core/Registry/RegistryManager.cs
  GUI/Main.cs
  GUI/MainModInfo.cs
  GUI/ManageKspInstances.cs
  Tests/Core/KSPPathUtils.cs
Labels: Bug, Core (ckan.dll), GUI, Pull request, Tests, Windows

#2886 Use current metadata for installed module compatibility
  Cmdline/Action/Available.cs
  Cmdline/Action/Search.cs
  Cmdline/Action/Update.cs
  ConsoleUI/ModInfoScreen.cs
  Core/Registry/AvailableModule.cs
  Core/Registry/IRegistryQuerier.cs
  Core/Registry/Registry.cs
  GUI/GUIMod.cs
  GUI/MainModList.cs
  Tests/Core/Registry/Registry.cs
Labels: Bug, GUI, Pull request, Registry

#2892 Notify when falling back to archive.org URL
  Core/Net/NetAsyncDownloader.cs
Labels: Core (ckan.dll), Easy, Network, Pull request

#2893 [macOS] Only run Mono in 32bit mode when the GUI is launched
  macosx/CKAN
Labels: Easy, GUI, Mono, Package: dmg, macOS

#2896 Fix minor errors in registry updating
  Core/KSPPathUtils.cs
  Core/Net/Repo.cs
Labels: Bug, Core (ckan.dll), Easy

#2903 Replace temp filename with URL in netkan ZIP error
  Netkan/Services/CachingHttpService.cs
Labels: Easy, Infrastructure, Netkan, Pull request

#2899 Force logical name for generated resources
  GUI/CKAN-GUI.csproj
Labels: Build, GUI, Linux
