Repository KSP-CKAN/CKAN, pull requests merged in 2019-03, with the labels that each got.

#2695 Allow replacement by conflicting modules
  GUI/MainModList.cs
Labels: Bug, GUI, Pull request

#2691 Sort AD above empty checkboxes
  GUI/Main.Designer.cs
  GUI/MainModList.cs
Labels: Easy, GUI, Pull request

#2692 Reinstate no releases warnings for Netkan
  Netkan/Transformers/CurseTransformer.cs
  Netkan/Transformers/GithubTransformer.cs
  Netkan/Transformers/JenkinsTransformer.cs
  Netkan/Transformers/SpacedockTransformer.cs
Labels: Bug, Easy, Netkan, Pull request

#2694 Only update mod list once at GUI startup
  GUI/Main.cs
  GUI/MainRepo.cs
Labels: Bug, GUI, Pull request

#2697 Only show replace col if a replaced module is installed
  GUI/MainModList.cs
Labels: Bug, Easy, GUI, Pull request

#2707 Prevent Null entry in CompatibleKSPVersions
  GUI/CompatibleKspVersionsDialog.cs
Labels: Bug, Easy, GUI
