Repository KSP-CKAN/CKAN, pull requests merged in 2019-08, with the labels that each got.

#2839 Replace bash script with Cake.Docker task
  .travis.yml
  bin/build_netkan_container.sh
  build.cake
Labels: Build, Cake, Netkan, Pull request

#2838 Add Dockerfile + Deployment for NetKAN Inflator
  .travis.yml
  bin/build_netkan_container.sh
  build.cake
Labels: Build, Cake, Enhancement, Netkan, Pull request

#2840 Put Dockerfile.netkan in build context
  build.cake
Labels: Bug, Build, Cake, Easy, Netkan, Pull request

#2757 Generate RPM packages
  .travis.yml
  build.cake
  rpm/Makefile
  rpm/ckan.spec
Labels: Build, Enhancement, Linux, Pull request

#2845 Switch to new Travis xvfb syntax
  .travis.yml
Labels: Build, Easy

#2853 Use Debian machine-readable copyright format
  debian/copyright
Labels: Linux, Package: deb, Pull request

#2854 Don't invalidate invisible rows
  GUI/Main.cs
Labels: Bug, GUI, Pull request, Windows

#2855 Speed up autoremove search
  Core/Registry/IRegistryQuerier.cs
  Core/Registry/Registry.cs
  GUI/MainModList.cs
Labels: Bug, GUI, Pull request

#2856 Find portable installs when enforcing cache limits
  Core/Net/NetFileCache.cs
Labels: Bug, Pull request, ckan.dll
