Repository KSP-CKAN/CKAN, pull requests merged in 2019-11, with the labels that each got.

#2911 Default to consoleui on MacOSX Catalina
  macosx/CKAN
Labels: ConsoleUI, Package: dmg, Pull request, macOS

#2915 Apply netkan validators to ckans
  Netkan/Processors/Inflator.cs
Labels: Bug, Netkan, Pull request

#2913 Merge resources and include metanetkan
  CKAN.schema
  Core/Types/CkanModule.cs
  Netkan/Extensions/JObjectExtensions.cs
  Netkan/Transformers/InternalCkanTransformer.cs
  Netkan/Transformers/MetaNetkanTransformer.cs
  Spec.md
Labels: Easy, Enhancement, Netkan, Pull request, Schema, Spec

#2920 Force redraw of recommendation listview headers on Mono
  GUI/MainRecommendations.cs
Labels: Bug, Easy, GUI, Mono, Pull request

#2928 Eliminate duplicate network calls in Netkan
  Netkan/Transformers/CurseTransformer.cs
  Netkan/Transformers/GithubTransformer.cs
  Netkan/Transformers/JenkinsTransformer.cs
  Netkan/Transformers/SpacedockTransformer.cs
Labels: Bug, Netkan, Network, Pull request

#2926 Ignore CurseForge tests
  Tests/NetKAN/Sources/Curse/CurseApiTests.cs
Labels: Network, Tests

#2925 Add language selection option to settings
  Core/Configuration/IConfiguration.cs
  Core/Configuration/JsonConfiguration.cs
  Core/Configuration/Win32RegistryConfiguration.cs
  Core/Utilities.cs
  GUI/GUIConfiguration.cs
  GUI/Localization/de-DE/SettingsDialog.de-DE.resx
  GUI/Main.cs
  GUI/SettingsDialog.Designer.cs
  GUI/SettingsDialog.cs
  GUI/SettingsDialog.resx
  Tests/Core/Configuration/FakeConfiguration.cs
Labels: Enhancement, GUI

#2927 Disable Upgrade All ConsoleUI menu option when nothing to upgrade
  ConsoleUI/ModListScreen.cs
  ConsoleUI/Toolkit/ConsolePopupMenu.cs
  ConsoleUI/Toolkit/ConsoleTheme.cs
Labels: ConsoleUI, Easy, Enhancement, Pull request

#2929 Bump nuget to 5.3.1 on Windows
  build.ps1
Labels: Build, Windows

#2931 Don't launch KSP 1.8 with -single-instance
  GUI/Main.cs
Labels: Enhancement, GUI, Linux, Pull request

#2932 Don't send notification to Discord if build succeeds
  .travis.yml
Labels: Easy, Enhancement, Infrastructure

#2933 Handle multiple errors in same ErrorDialog
  GUI/ErrorDialog.Designer.cs
  GUI/ErrorDialog.cs
  GUI/ErrorDialog.resx
  GUI/Localization/de-DE/ErrorDialog.de-DE.resx
Labels: Bug, Enhancement, GUI, Network, Pull request
