Repository KSP-CKAN/CKAN, pull requests merged in 2019-05, with the labels that each got.

#2753 Auto-uninstall auto-installed modules
  Cmdline/Action/AuthToken.cs
  Cmdline/Action/List.cs
  Cmdline/Action/Mark.cs
  Cmdline/CKAN-cmdline.csproj
  Cmdline/Main.cs
  Cmdline/Options.cs
  ConsoleUI/ModListHelpDialog.cs
  ConsoleUI/ModListScreen.cs
  ConsoleUI/Toolkit/Keys.cs
  ConsoleUI/Toolkit/Symbols.cs
  Core/ModuleInstaller.cs
  Core/Registry/IRegistryQuerier.cs
  Core/Registry/InstalledModule.cs
  Core/Registry/Registry.cs
  Core/Relationships/RelationshipResolver.cs
  GUI/GUIMod.cs
  GUI/Main.Designer.cs
  GUI/Main.cs
  GUI/MainChangeset.cs
  GUI/MainModList.cs
  Tests/GUI/GH1866.cs
  Tests/GUI/GUIMod.cs
  Tests/GUI/MainModList.cs
Labels: Enhancement, GUI, Pull request, Registry, Relationships, ckan.dll

#2755 Save registry inside of scan transaction
  Core/KSP.cs
Labels: Bug, Easy, Pull request, Registry, ckan.dll

#2756 Cache downloads individually upon completion
  Cmdline/Action/Replace.cs
  Cmdline/Action/Upgrade.cs
  ConsoleUI/InstallScreen.cs
  ConsoleUI/ModInfoScreen.cs
  Core/ModuleInstaller.cs
  Core/Net/IDownloader.cs
  Core/Net/Net.cs
  Core/Net/NetAsyncDownloader.cs
  Core/Net/NetAsyncModulesDownloader.cs
  Core/Net/Repo.cs
  GUI/MainInstall.cs
  GUI/MainModInfo.cs
  Tests/Core/Net/NetAsyncModulesDownloader.cs
  Tests/GUI/GH1866.cs
Labels: Enhancement, Network, Pull request, ckan.dll

#2758 Hide auto-installed checkbox for auto-detected mods
  GUI/MainModList.cs
Labels: Bug, Easy, GUI, Pull request

#2759 Add scrollbars to metadata tab
  GUI/MainModInfo.Designer.cs
Labels: Easy, Enhancement, GUI, Pull request

#2762 Update GUI modlist if scan detects changes
  Core/KSP.cs
  Core/Registry/RegistryManager.cs
  GUI/MainRepo.cs
Labels: Bug, GUI, Pull request, ckan.dll

#2767 Don't warn that a raw URL is non-raw
  Core/Net/Net.cs
Labels: Bug, Netkan, Pull request
