Repository KSP-CKAN/CKAN, pull requests merged in 2019-04, with the labels that each got.

#2710 Update Spec.md
  Spec.md
Labels: Easy, Pull request, Spec

#2732 Add self to opt-out
  policy/Opt-out-list.md
Labels: Pull request

#2725 Save restore position when minimized
  GUI/Main.cs
  GUI/Util.cs
Labels: Bug, Easy, GUI, Pull request

#2727 Fix home/end, url handler, typing nav, and dependency double click
  GUI/Main.cs
  GUI/MainModList.cs
Labels: Bug, GUI, Pull request

#2728 Fix size of relationships list
  GUI/MainModInfo.Designer.cs
Labels: Bug, Easy, GUI, Pull request

#2730 Don't apply previous change set to checkboxes after successful install
  GUI/MainInstall.cs
Labels: Bug, GUI, Pull request

#2699 Right click copy option for mod info links
  GUI/AboutDialog.cs
  GUI/MainModInfo.cs
  GUI/Util.cs
Labels: Enhancement, GUI, Pull request

#2729 Auto size yes no dialog
  GUI/YesNoDialog.Designer.cs
  GUI/YesNoDialog.cs
Labels: GUI, Pull request

#2735 Compare RelationshipDescriptors with Equals instead of Same
  Core/Net/Repo.cs
  Core/Types/CkanModule.cs
Labels: Bug, Pull request, Relationships, ckan.dll

#2696 Handle non-raw GitHub URLs for metanetkans and avc krefs
  Core/Net/Net.cs
  Netkan/Transformers/AvcKrefTransformer.cs
  Netkan/Transformers/AvcTransformer.cs
  Netkan/Transformers/MetaNetkanTransformer.cs
Labels: Easy, Enhancement, Netkan, Network, Pull request

#2734 Fix Newly Compatible filter with repo autoupdate
  GUI/MainInstall.cs
  GUI/MainModList.cs
  GUI/MainRepo.cs
Labels: Bug, GUI, Pull request

#2737 Relabel Yes/No buttons for some questions
  GUI/Main.cs
  GUI/MainAllModVersions.cs
  GUI/MainDialogs.cs
  GUI/MainInstall.cs
  GUI/YesNoDialog.cs
Labels: Easy, Enhancement, GUI, Pull request

#2709 Ignore spaces and special chars in mod search
  Cmdline/Action/Search.cs
  Cmdline/Options.cs
  ConsoleUI/ModListScreen.cs
  Core/Registry/AvailableModule.cs
  Core/Types/CkanModule.cs
  GUI/CKAN-GUI.csproj
  GUI/GUIMod.cs
  GUI/MainModInfo.cs
  GUI/MainModList.cs
  GUI/SelectionDialog.cs
Labels: Cmdline, ConsoleUI, Enhancement, GUI, Pull request, ckan.dll

#2745 Throw errors happening in UpdateModsList()
  GUI/MainModList.cs
Labels: Easy, GUI, Pull request

#2743 Fix freeze on non CKAN files in cache folder
  Core/Net/NetFileCache.cs
Labels: Bug, Pull request, ckan.dll

#2747 Ignore dependency self conflicts
  Core/Registry/AvailableModule.cs
Labels: Bug, Pull request, Registry, Relationships, ckan.dll
