Repository KSP-CKAN/CKAN, pull requests merged in 2019-06, with the labels that each got.

#2772 Unignore version controlled folders
  .gitignore
Labels: Easy, Pull request

#2776 Suppress autostart warning
  Core/KSPManager.cs
  Core/Registry/Registry.cs
  Core/Types/CkanModule.cs
  Core/Win32Registry.cs
  Netkan/Transformers/EpochTransformer.cs
  Tests/Core/FakeWin32Registry.cs
  Tests/Core/KSPManager.cs
  Tests/Core/Net/Net.cs
  Tests/NetKAN/MainClass.cs
Labels: Bug, Easy, Pull request, Tests, ckan.dll

#2778 Fix fake/clone tests on Windows
  Tests/Core/KSPManager.cs
Labels: Bug, Pull request, Tests, Windows

#2781 Fix ZipValid test on non-English Windows systems
  Tests/Core/Cache.cs
Labels: Bug, Pull request, Tests, Windows

#2783 Skip comments and allow capital letters in locale extractor
  Netkan/Transformers/LocalizationsTransformer.cs
Labels: Bug, Netkan, Pull request

#2784 Only list each locale once
  Netkan/Transformers/LocalizationsTransformer.cs
Labels: Bug, Easy, Netkan, Pull request

#2786 Only react to Localization keyword at start of line
  Netkan/Transformers/LocalizationsTransformer.cs
Labels: Bug, Easy, Netkan, Pull request

#2793 Mark auto-install correctly when installing from .ckan file
  GUI/MainInstall.cs
Labels: Bug, GUI, Pull request, Relationships

#2801 Add menu option to report issues in the CKAN repo
  GUI/Localization/de-DE/Main.de-DE.resx
  GUI/Main.Designer.cs
  GUI/Main.cs
  GUI/Main.resx
Labels: Easy, GUI

#2788 Migrate Perl validation checks into netkan.exe
  Cmdline/packages.config
  Netkan/CKAN-netkan.csproj
  Netkan/Model/Metadata.cs
  Netkan/Program.cs
  Netkan/Validators/AlphaNumericIdentifierValidator.cs
  Netkan/Validators/CkanValidator.cs
  Netkan/Validators/DownloadVersionValidator.cs
  Netkan/Validators/InstallValidator.cs
  Netkan/Validators/KrefDownloadMutexValidator.cs
  Netkan/Validators/LicensesValidator.cs
  Netkan/Validators/MatchesKnownGameVersionsValidator.cs
  Netkan/Validators/NetkanValidator.cs
  Netkan/Validators/ObeysCKANSchemaValidator.cs
  Netkan/Validators/OverrideValidator.cs
  Netkan/Validators/RelationshipsValidator.cs
  Netkan/Validators/ReplacedByValidator.cs
  Netkan/Validators/SpecVersionFormatValidator.cs
  Netkan/Validators/VersionStrictValidator.cs
  Netkan/packages.config
  Tests/NetKAN/Validators/AlphaNumericIdentifierValidatorTests.cs
  Tests/NetKAN/Validators/CkanValidatorTests.cs
  Tests/NetKAN/Validators/DownloadVersionValidatorTests.cs
  Tests/NetKAN/Validators/InstallValidatorTests.cs
  Tests/NetKAN/Validators/KrefDownloadMutexValidatorTests.cs
  Tests/NetKAN/Validators/LicensesValidatorTests.cs
  Tests/NetKAN/Validators/MatchesKnownGameVersionsValidatorTests.cs
  Tests/NetKAN/Validators/NetkanValidatorTests.cs
  Tests/NetKAN/Validators/ObeysCKANSchemaValidatorTests.cs
  Tests/NetKAN/Validators/OverrideValidatorTests.cs
  Tests/NetKAN/Validators/RelationshipsValidatorTests.cs
  Tests/NetKAN/Validators/ReplacedByValidatorTests.cs
  Tests/NetKAN/Validators/SpecVersionFormatValidatorTests.cs
  Tests/NetKAN/Validators/VersionStrictValidatorTests.cs
  Tests/Tests.csproj
Labels: Enhancement, Netkan, Pull request, Schema, Tests

#2805 Ignore locales with no strings
  Netkan/Transformers/LocalizationsTransformer.cs
Labels: Bug, Easy, Netkan, Pull request

#2808 Refresh builds.json when validating netkans
  Netkan/Validators/MatchesKnownGameVersionsValidator.cs
Labels: Bug, Netkan, Pull request

#2811 Fix http kref validation
  Netkan/Transformers/HttpTransformer.cs
Labels: Bug, Easy, Netkan, Pull request

#2812 Use embedded buildmap in Netkan
  Core/GameVersionProviders/IKspBuildMap.cs
  Core/GameVersionProviders/KspBuildMap.cs
  Netkan/Validators/MatchesKnownGameVersionsValidator.cs
Labels: Easy, Netkan, Network, Pull request

#2813 Open ZIP button, instance name in status bar, description scroll bar
  GUI/Localization/de-DE/MainModInfo.de-DE.resx
  GUI/Main.Designer.cs
  GUI/Main.cs
  GUI/MainModInfo.Designer.cs
  GUI/MainModInfo.cs
  GUI/MainModInfo.resx
  GUI/Properties/Resources.Designer.cs
  GUI/Properties/Resources.de-DE.resx
  GUI/Properties/Resources.resx
Labels: Easy, Enhancement, GUI, Pull request

#2815 Fix Netkan schema resource name on Windows
  Netkan/CKAN-netkan.csproj
Labels: Bug, Netkan, Pull request, Windows

#2818 Support newlines in GUI description field
  GUI/MainModInfo.cs
Labels: Bug, Easy, GUI, Pull request, Windows

#2817 Fix comparison of 1.0.0 to 1.0
  Core/Types/GameComparator/StrictGameComparator.cs
  Netkan/Transformers/AvcTransformer.cs
Labels: Bug, Pull request, ckan.dll
