Repository KSP-CKAN/CKAN, pull requests merged in 2020-12, with the labels that each got.

#3234 Metadata GitHub Actions Container
  .github/workflows/deploy.yml
  Dockerfile.metadata
  build.cake
Labels: Build, Enhancement, Infrastructure, Pull request

#3235 Build Inflator on latest Mono
  Dockerfile.netkan
Labels: Build, Easy, Enhancement, Infrastructure, Pull request

#3251 Validate renamed files by their new names in Netkan
  Netkan/Services/IModuleService.cs
  Netkan/Services/ModuleService.cs
  Netkan/Transformers/LocalizationsTransformer.cs
  Netkan/Validators/ModuleManagerDependsValidator.cs
  Netkan/Validators/PluginCompatibilityValidator.cs
Labels: Bug, Easy, Netkan, Pull request
