Repository KSP-CKAN/CKAN, pull requests merged in 2020-01, with the labels that each got.

#2952 Make provides a list of identifiers in the schema
  CKAN.schema
Labels: Bug, Pull request, Schema

#2948 Catch nested GameData folders in Netkan
  Netkan/ConsoleUser.cs
  Netkan/Services/IModuleService.cs
  Netkan/Services/ModuleService.cs
  Netkan/Validators/InstallsFilesValidator.cs
  Netkan/Validators/LicensesValidator.cs
Labels: Easy, Enhancement, Netkan, Pull request

#2959 Don't check ZIP health in ModuleInstaller.GetModuleContentsList()
  Core/ModuleInstaller.cs
  GUI/MainModInfo.cs
Labels: Bug, Core (ckan.dll), Easy, GUI

#2963 Check all dependencies for compatibility checking
  .travis.yml
  Cmdline/Action/Available.cs
  Cmdline/Action/Search.cs
  Cmdline/Action/Show.cs
  Cmdline/Action/Update.cs
  ConsoleUI/ModInfoScreen.cs
  ConsoleUI/ModListScreen.cs
  Core/Net/Repo.cs
  Core/Registry/CompatibilitySorter.cs
  Core/Registry/IRegistryQuerier.cs
  Core/Registry/Registry.cs
  Core/Types/GameComparator/BaseGameComparator.cs
  Core/Types/GameComparator/GrasGameComparator.cs
  Core/Versioning/KspVersionCriteria.cs
  GUI/Main.cs
  GUI/MainAllModVersions.cs
  GUI/MainModList.cs
  GUI/MainRepo.cs
  Tests/Core/ModuleInstaller.cs
  Tests/Core/Registry/Registry.cs
Labels: Core (ckan.dll), Enhancement, Pull request, Registry

#2970 Stage modules with hardcoded game versions
  Netkan/CKAN-netkan.csproj
  Netkan/Transformers/NetkanTransformer.cs
  Netkan/Transformers/StagingTransformer.cs
Labels: Easy, Enhancement, Netkan, Pull request

#2976 Downgrade to building on Mono 5.20
  .travis.yml
Labels: Bug, Build, Linux, Mono, Pull request, Windows

#2978 Refresh Info.plist if changelog has changed
  macosx/Makefile
Labels: Bug, Build, Package: dmg, Pull request, macOS
