Repository KSP-CKAN/CKAN, pull requests merged in 2020-02, with the labels that each got.

#2981 Detect conflicts on recommendations screen
  Core/Relationships/RelationshipResolver.cs
  GUI/Controls/ChooseRecommendedMods.Designer.cs
  GUI/Controls/ChooseRecommendedMods.cs
  GUI/Main/Main.Designer.cs
  GUI/Main/MainInstall.cs
  GUI/Main/MainRecommendations.cs
Labels: Enhancement, GUI, Pull request, Relationships

#2984 Fix null reference in recommendations
  GUI/Controls/ChooseRecommendedMods.cs
Labels: Bug, Easy, GUI, Pull request

#2987 Fix NRE on download errors in ConsoleUI
  ConsoleUI/CKAN-ConsoleUI.csproj
  ConsoleUI/Toolkit/ConsoleTextBox.cs
Labels: Bug, ConsoleUI, Network, Pull request

#2989 Only update provides tab from GUI thread
  GUI/Controls/ChooseProvidedMods.cs
  GUI/Controls/ChooseProvidedMods.resx
  GUI/Localization/de-DE/ChooseProvidedMods.de-DE.resx
  GUI/Localization/de-DE/Main.de-DE.resx
  GUI/Main/Main.resx
  GUI/Main/MainInstall.cs
  GUI/Main/MainProvides.cs
Labels: Bug, Easy, GUI, Linux, Mono

#2990 Fix ArgumentException in ConsoleUI recommendations
  Core/ModuleInstaller.cs
Labels: Bug, ConsoleUI, Core (ckan.dll), Easy, Pull request, Relationships

#2985 Update Cake to 0.37.0
  packages.config
Labels: Build, Cake, Linux, Mono

#2991 Update tags section of spec
  Spec.md
Labels: Pull request, Spec

#2995 Don't report an unknown error if it is known
  GUI/Main/MainChangeset.cs
  GUI/Main/MainInstall.cs
  GUI/Properties/Resources.Designer.cs
  GUI/Properties/Resources.de-DE.resx
  GUI/Properties/Resources.resx
Labels: Bug, Easy, GUI

#3003 Check compatibility of providing modules
  Core/Registry/CompatibilitySorter.cs
Labels: Bug, Core (ckan.dll), Pull request, Registry, Relationships

#3005 Check current dir for portable install
  Core/KSP.cs
Labels: Core (ckan.dll), Easy, Enhancement, Pull request

#3006 Fix reinstall prompt crash
  Core/Net/Repo.cs
  GUI/Dialogs/SettingsDialog.cs
  GUI/Dialogs/YesNoDialog.cs
  GUI/Main/Main.cs
  GUI/Main/MainDialogs.cs
Labels: Bug, GUI, Pull request

#3008 Treat metapackage depends as not auto installed
  Core/ModuleInstaller.cs
  Core/Relationships/RelationshipResolver.cs
  GUI/Controls/ThemedTabControl.cs
Labels: Bug, Core (ckan.dll), Pull request

#3009 Don't auto-stage if version is "any"
  Netkan/Transformers/StagingTransformer.cs
Labels: Easy, Netkan, Pull request
