Repository KSP-CKAN/CKAN, pull requests merged in 2022-09, with the labels that each got.

#3662 Trivial code style clean-up
  Cmdline/Action/Upgrade.cs
  Cmdline/ConsoleUser.cs
  ConsoleUI/ModInfoScreen.cs
  ConsoleUI/Properties/AssemblyInfo.cs
  ConsoleUI/Toolkit/Keys.cs
  Core/Extensions/IOExtensions.cs
  Core/Net/AutoUpdate.cs
  Core/Registry/RegistryManager.cs
  Core/Types/License.cs
  GUI/Controls/HintTextBox.cs
  GUI/Controls/ManageMods.cs
  GUI/Controls/TransparentTextBox.cs
  GUI/Dialogs/CompatibleGameVersionsDialog.cs
  GUI/Dialogs/InstallFiltersDialog.cs
  GUI/Dialogs/ManageGameInstancesDialog.cs
  GUI/Main/Main.cs
  GUI/Main/MainRepo.cs
  GUI/Model/GUIConfiguration.cs
  GUI/NavigationHistory.cs
  GUI/URLHandlers.cs
  GUI/Util.cs
  Netkan/ConsoleUser.cs
  Netkan/Sources/Curse/CurseApi.cs
  Netkan/Sources/Spacedock/SpaceDockApi.cs
  Netkan/Validators/InstallsFilesValidator.cs
Labels: GUI, Cmdline, Pull request, ConsoleUI

#3665 Pass GitLab token from env to inflator param
  Dockerfile.netkan
Labels: Enhancement, Easy, Pull request, Netkan, Infrastructure

#3666 Resume failed downloads
  CHANGELOG.md
  Core/Extensions/IOExtensions.cs
  Core/ModuleInstaller.cs
  Core/Net/Net.cs
  Core/Net/NetAsyncDownloader.cs
  Core/Net/NetAsyncModulesDownloader.cs
  Core/Net/NetFileCache.cs
  Core/Net/NetModuleCache.cs
  Core/Net/RedirectWebClient.cs
  Core/Net/RedirectingTimeoutWebClient.cs
  Core/Net/ResumingWebClient.cs
  Core/Properties/Resources.Designer.cs
  Core/Properties/Resources.fr-FR.resx
  Core/Properties/Resources.ja-JP.resx
  Core/Properties/Resources.ko-KR.resx
  Core/Properties/Resources.pt-BR.resx
  Core/Properties/Resources.resx
  Core/Properties/Resources.ru-RU.resx
  Core/Properties/Resources.zh-CN.resx
  GUI/Controls/ChooseProvidedMods.cs
  GUI/Controls/ChooseRecommendedMods.cs
  GUI/Controls/Wait.cs
  GUI/Model/ModChange.cs
  GUI/Properties/Resources.Designer.cs
  GUI/Properties/Resources.de-DE.resx
  GUI/Properties/Resources.fr-FR.resx
  GUI/Properties/Resources.ja-JP.resx
  GUI/Properties/Resources.ko-KR.resx
  GUI/Properties/Resources.pt-BR.resx
  GUI/Properties/Resources.resx
  GUI/Properties/Resources.ru-RU.resx
  GUI/Properties/Resources.zh-CN.resx
Labels: Enhancement, Core (ckan.dll), Pull request, Network

#3654 update repo instructions for new Debian policy
  doc/apt-repo.md
  doc/rpm-repo.md
Labels: Pull request, Linux, Documentation, Package: deb

#3659 Report progress in validating downloads
  CHANGELOG.md
  Core/Extensions/CryptoExtensions.cs
  Core/Extensions/IOExtensions.cs
  Core/ModuleInstaller.cs
  Core/Net/IDownloader.cs
  Core/Net/NetAsyncDownloader.cs
  Core/Net/NetAsyncModulesDownloader.cs
  Core/Net/NetFileCache.cs
  Core/Net/NetModuleCache.cs
  Core/Net/Repo.cs
  Core/Net/ResumingWebClient.cs
  Core/Properties/Resources.Designer.cs
  Core/Properties/Resources.resx
  Core/Types/Kraken.cs
  GUI/Controls/ManageMods.Designer.cs
  GUI/Controls/ManageMods.cs
  GUI/Controls/Wait.Designer.cs
  GUI/Controls/Wait.cs
  GUI/Dialogs/DownloadsFailedDialog.Designer.cs
  GUI/Dialogs/DownloadsFailedDialog.cs
  GUI/Main/MainDownload.cs
  GUI/Main/MainInstall.cs
  GUI/Main/MainRepo.cs
  GUI/Model/GUIMod.cs
  GUI/Model/ModChange.cs
  GUI/Properties/Resources.Designer.cs
  GUI/Properties/Resources.resx
  Netkan/Services/CachingHttpService.cs
  Netkan/Services/FileService.cs
  Tests/Core/Cache.cs
  Tests/Core/ModuleInstaller.cs
  Tests/Core/ModuleInstallerDirTest.cs
  Tests/GUI/Model/ModList.cs
Labels: Bug, Enhancement, GUI, Core (ckan.dll), Pull request, Network
