Repository KSP-CKAN/CKAN, pull requests merged in 2022-04, with the labels that each got.

#3458 Global install filters
  CHANGELOG.md
  Cmdline/Action/Filter.cs
  Cmdline/CKAN-cmdline.csproj
  Cmdline/Main.cs
  Cmdline/Options.cs
  ConsoleUI/CKAN-ConsoleUI.csproj
  ConsoleUI/InstallFilterAddDialog.cs
  ConsoleUI/InstallFiltersScreen.cs
  ConsoleUI/ModListScreen.cs
  Core/Configuration/IConfiguration.cs
  Core/Configuration/JsonConfiguration.cs
  Core/Configuration/Win32RegistryConfiguration.cs
  Core/GameInstance.cs
  Core/ModuleInstaller.cs
  GUI/CKAN-GUI.csproj
  GUI/Dialogs/InstallFiltersDialog.Designer.cs
  GUI/Dialogs/InstallFiltersDialog.cs
  GUI/Dialogs/InstallFiltersDialog.resx
  GUI/Localization/de-DE/InstallFiltersDialog.de-DE.resx
  GUI/Localization/de-DE/Main.de-DE.resx
  GUI/Localization/fr-FR/InstallFiltersDialog.fr-FR.resx
  GUI/Main/Main.Designer.cs
  GUI/Main/Main.cs
  GUI/Main/Main.resx
  Tests/Core/Configuration/FakeConfiguration.cs
Labels: Enhancement, GUI, Cmdline, Core (ckan.dll), Pull request, ConsoleUI

#3543 Play Time
  CHANGELOG.md
  Core/Extensions/EnumerableExtensions.cs
  Core/GameInstance.cs
  Core/Types/TimeLog.cs
  Core/Utilities.cs
  GUI/CKAN-GUI.csproj
  GUI/Controls/PlayTime.Designer.cs
  GUI/Controls/PlayTime.cs
  GUI/Controls/PlayTime.resx
  GUI/Dialogs/ManageGameInstancesDialog.Designer.cs
  GUI/Dialogs/ManageGameInstancesDialog.cs
  GUI/Dialogs/ManageGameInstancesDialog.resx
  GUI/Localization/fr-FR/Main.fr-FR.resx
  GUI/Localization/fr-FR/PlayTime.fr-FR.resx
  GUI/Main/Main.Designer.cs
  GUI/Main/Main.cs
  GUI/Main/Main.resx
  GUI/Main/MainTime.cs
  GUI/Properties/Resources.Designer.cs
  GUI/Properties/Resources.fr-FR.resx
  GUI/Properties/Resources.resx
Labels: Enhancement, GUI, Pull request

#3570 Fix play time column if no playtime, hide game column if single game
  CHANGELOG.md
  GUI/CKAN-GUI.csproj
  GUI/Dialogs/ManageGameInstancesDialog.cs
  GUI/Localization/de-DE/Main.de-DE.resx
  GUI/Localization/de-DE/PlayTime.de-DE.resx
  GUI/Properties/Resources.de-DE.resx
Labels: Bug, Enhancement, GUI, Pull request

#3575 Trigger deploy workflow on repo dispatch deploy event
  .github/workflows/deploy.yml
Labels: Enhancement, Pull request, Infrastructure
